@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "cairo", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #EAB221;
  border-radius: 0px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  scroll-behavior: auto !important;
  text-transform: capitalize;
  font-family: "cairo", sans-serif;
}

* {
  text-transform: capitalize;
}

thead {
  font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  outline: none !important;
  box-shadow: none;
}

.form-switch .form-check-input {
  background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

input[type=checkbox]:checked {
  background-color: #EAB221;
  color: #EAB221;
  border-color: #EAB221;
}

.title__ h3::before {
  content: "";
  background-color: #0D5FF9;
  height: 3px;
  width: 50px;
  right: -60px;
  position: absolute;
  top: 17px;
}
.title__ h3::after {
  content: "";
  background-color: #0D5FF9;
  height: 3px;
  width: 50px;
  left: -60px;
  position: absolute;
  top: 17px;
}
.title__ span {
  color: #636363;
  font-weight: 500;
  font-size: 17px;
}

.faq .faq__items .accordion-item {
  width: 100%;
  border: 0;
}
.faq .faq__items .accordion-header {
  border: 0;
  border-bottom: 0;
}
.faq .faq__items .accordion-button {
  background: #f5f5f5;
  border-bottom: 0;
  border: 0;
  border-radius: 6px 6px 0 0;
}
.faq .faq__items .accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
.faq .faq__items .accordion-button::after {
  position: absolute;
  left: 20px;
}
.faq .faq__items .accordion-collapse {
  border: 0px;
  padding: 0;
  background: rgb(245, 245, 245);
}
.faq .faq__items .accordion-body {
  border-top: 0;
  border: 0;
}
.faq .collapse {
  visibility: visible !important;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 1s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
  animation-duration: 8s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 2s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 2s;
  animation-duration: 15s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 15s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.page_header {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;
}
.page_header .breadcrumb-item + .breadcrumb-item::before {
  float: right !important;
  padding-left: 6px;
}
@media (max-width: 991px) {
  .page_header .shape-1 img,
  .page_header .shape-2 img,
  .page_header .shape-3 img,
  .page_header .shape-4 img,
  .page_header .shape-5 img {
    width: 70px;
    height: 70px;
  }
}

.whatsapp__icon {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 999;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25D366;
}

.video {
  position: relative;
}
.video .video_img .div_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
}
.video .video_img .div_icon svg {
  width: 150px;
  margin: 120px auto;
  display: block;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: 0.4s ease-in-out all;
}
.video .video_img .div_icon svg:hover {
  transform: rotate(360deg);
}

@media (max-width: 991px) {
  .navbar {
    padding: 0 20px !important;
  }
  .navbar .navbar-brand img {
    width: 70px;
    height: 70px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navbar .navbar-brand svg {
    fill: #000 !important;
  }
  .navbar .navbar-brand svg path {
    fill: #000 !important;
  }
  .student_info, .top_navbar, .services__, .about__us, header, .statistics__, .teamWork__, .advantages__, .reader__, .ai__, .blogs__, .testimonials__, .exams_capibilities__, .provide, .video {
    padding: 20px !important;
  }
  .top_navbar {
    display: none !important;
    flex-wrap: wrap;
  }
  .top_navbar .company_info {
    align-items: flex-start !important;
    flex-wrap: wrap;
    gap: 8px !important;
  }
  header {
    height: 100% !important;
  }
  header .hero__info {
    width: 100% !important;
    margin-top: 70px !important;
  }
  header .hero__info h1 {
    font-size: 30px;
  }
  header .hero__img {
    position: relative !important;
    inset: 0 !important;
    margin-top: 35px;
  }
  .about__us button {
    margin-bottom: 20px;
  }
  .advantages__ .advantages__item {
    margin-top: 20px !important;
  }
  footer {
    padding: 20px !important;
  }
  .svg__ {
    display: none;
  }
  .shape-1 img,
  .shape-2 img,
  .shape-3 img,
  .shape-4 img,
  .shape-5 img {
    opacity: 0.5;
  }
  .shape-3 {
    top: 480px;
  }
  .shape-1 {
    left: 10%;
  }
  .shape-4 {
    right: 20px;
    left: auto;
  }
  .shape-5 {
    top: 100px;
  }
}
.section_contact {
  padding: 0 80px 80px;
}
.section_contact form {
  margin-top: 40px;
}
.section_contact form input,
.section_contact form textarea {
  box-shadow: none;
  letter-spacing: 0;
  outline: none;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  text-align: start;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid #e5e7f2;
  background: #f7f9fb;
  width: 100%;
  margin-bottom: 15px;
}
.section_contact form textarea {
  height: 150px;
}
.section_contact form button {
  background-color: #0D5FF9;
  color: #fff;
  padding: 10px 25px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 991px) {
  .section_contact {
    padding: 0 20px 20px !important;
    margin-bottom: 20px !important;
  }
  .section_contact iframe {
    margin-top: 20px !important;
    width: 100% !important;
  }
}

.blog_details {
  padding: 40px;
}
.blog_details img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .blog_details {
    padding: 20px !important;
  }
}

.services__ .services_item {
  min-height: 470px;
  transition: 0.5s all ease-in-out;
  border-top-right-radius: 45px;
}
.services__ .services_item:hover {
  border: 1px solid #fff;
}
.services__ .services_item.service_1 {
  background-color: #ff9920;
}
.services__ .services_item.service_2 {
  background-color: #0052cc;
}
.services__ .services_item.service_3 {
  background-color: #331b64;
}
.services__ .services_item.service_4 {
  background-color: #5EB5EF;
}
.services__ .services_item.service_5 {
  background-color: #28C76F;
}
.services__ .services_item.service_6 {
  background-color: #c72854;
}
.services__ .services_item.service_7 {
  background-color: #c79828;
}
.services__ .services_item.service_8 {
  background-color: #add8e6;
}
.services__ .services_item.service_9 {
  background-color: #ff562f;
}

.preloader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #275EFE;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

/* Preloader */
.book-style {
  --color: #fff;
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: relative;
  margin: 32px 0 0 0;
  zoom: 1.5;
}

.book-style .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: book var(--duration) ease infinite;
}

.book-style .inner .left,
.book-style .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}

.book-style .inner .left:before,
.book-style .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}

.book-style .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: left var(--duration) ease infinite;
}

.book-style .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: right var(--duration) ease infinite;
}

.book-style .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}

.book-style ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}

.book-style ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.book-style ul li:nth-child(0) {
  animation-name: page-0;
}

.book-style ul li:nth-child(1) {
  animation-name: page-1;
}

.book-style ul li:nth-child(2) {
  animation-name: page-2;
}

.book-style ul li:nth-child(3) {
  animation-name: page-3;
}

.book-style ul li:nth-child(4) {
  animation-name: page-4;
}

.book-style ul li:nth-child(5) {
  animation-name: page-5;
}

.book-style ul li:nth-child(6) {
  animation-name: page-6;
}

.book-style ul li:nth-child(7) {
  animation-name: page-7;
}

.book-style ul li:nth-child(8) {
  animation-name: page-8;
}

.book-style ul li:nth-child(9) {
  animation-name: page-9;
}

.book-style ul li:nth-child(10) {
  animation-name: page-10;
}

.book-style ul li:nth-child(11) {
  animation-name: page-11;
}

.book-style ul li:nth-child(12) {
  animation-name: page-12;
}

.book-style ul li:nth-child(13) {
  animation-name: page-13;
}

.book-style ul li:nth-child(14) {
  animation-name: page-14;
}

.book-style ul li:nth-child(15) {
  animation-name: page-15;
}

.book-style ul li:nth-child(16) {
  animation-name: page-16;
}

.book-style ul li:nth-child(17) {
  animation-name: page-17;
}

.book-style ul li:nth-child(18) {
  animation-name: page-18;
}
@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%, 54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%, 55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%, 57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%, 59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%, 61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%, 63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%, 65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%, 67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%, 68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%, 70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%, 72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%, 74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%, 76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%, 78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%, 80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%, 81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%, 83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%, 85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%, 87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(-90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%, 59.99% {
    transform-origin: 30px 2px;
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
.you_will_get {
  height: 850px;
  background: linear-gradient(148deg, rgba(2, 0, 36, 0.7848273098) 0%, #EAB221 100%);
  margin-top: 50px;
  padding: 100px 40px;
}
.you_will_get .title {
  z-index: 999;
  position: relative;
  color: #EAB221;
}
.you_will_get .get__items {
  margin-top: 60px;
}
.you_will_get .get__items .get__item {
  z-index: 999;
  position: relative;
  margin-bottom: 70px;
}
.you_will_get .get__items .get__item .icon_box {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  border-width: 3px !important;
  transform: rotate(45deg);
}
.you_will_get .get__items .get__item .icon_box svg {
  transform: rotate(-45deg);
}
.you_will_get .get__items .get__item span {
  width: 350px;
}
.you_will_get .get__items .get__item:after {
  content: "";
  position: absolute;
  left: -85px;
  top: 19px;
  width: 170px;
  height: 40px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 9999999;
}
.you_will_get .get__items .get__item.get__item_3:after, .you_will_get .get__items .get__item.get__item_6:after {
  opacity: 0;
}

/* start authentication */
.authentication {
  padding: 50px 0 0 0;
  background: linear-gradient(148deg, rgba(2, 0, 36, 0.7848273098) 0%, rgba(234, 177, 33, 0.7333333333) 100%);
  height: 100vh;
}

.authentication_div {
  margin-top: 150px;
  background-color: #fff4eb;
  padding: 15px;
  width: 660px;
  margin: auto;
  z-index: 99999;
  position: relative;
}
@media (max-width: 991px) {
  .authentication_div {
    width: 100%;
  }
}

.form_auth {
  background-color: #fff;
  padding: 30px 35px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form_auth form span {
  background-color: transparent;
  border-left: 0;
  border-radius: 0 4px 4px 0 !important;
  border-color: #636363;
  color: #0D5FF9;
  padding: 0 5px;
}

.form_auth form span img {
  width: 20px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.form_auth .phone-number span img {
  width: 25px !important;
  height: 22px !important;
  margin-right: -3px;
}

.form_auth .code-phone {
  border-left: 1px solid #636363;
  border-radius: 4px 0 0 4px !important;
  color: #636363;
}

.form_auth form input.form-control {
  border-right: 0;
  border-radius: 4px 0 0 4px !important;
  background-color: transparent;
  line-height: 8;
  height: 45px;
  border-color: #636363;
}

.form_auth form textarea.form-control {
  border-right: 0;
  border-radius: 4px 0 0 4px !important;
  background-color: transparent;
  border-color: #636363;
  height: 70px;
}

.form_auth form select {
  border-radius: 4px !important;
  background-color: transparent;
  border-color: #636363;
  height: 45px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}

.form_auth form .form-control:focus,
.form_auth form select:focus {
  box-shadow: none;
  border-color: #636363;
  background-color: transparent;
}

.form_auth form label {
  right: 23px;
  top: 3px;
  left: initial;
  font-size: 13px;
  font-weight: 500;
  z-index: 9;
  color: #231F20;
}

.form_auth form .textarea span,
.form_auth form .textarea,
.form_auth form .textarea textarea {
  height: 70px !important;
}

.form_auth .eye-show {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 99;
}

.form_auth .eye-show svg {
  color: #0D5FF9;
}

.forget_password {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 25px;
}

.forget_password button {
  color: #0D5FF9;
  font-weight: bold;
  border: 0;
  box-shadow: 0;
  background-color: transparent;
}

.form_auth button.submit_form {
  background-color: #0D5FF9;
  border-radius: 4px;
  padding: 15px 10px;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: 0;
  box-shadow: 0;
}

.form_auth .have_account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.form_auth .have_account p a {
  color: #0D5FF9;
}

.form_auth .check_privacy {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 25px;
}

.form_auth .check_privacy label {
  margin-right: 20px;
}

.form_auth .check_privacy label a {
  color: #0D5FF9;
}

.form_auth .check_privacy .form-check-input {
  border-right: 1px solid #ccc;
  background-color: transparent;
  height: 20px !important;
  border-radius: 4px;
  float: right;
}

.form_auth .check_privacy input[type=checkbox]:checked {
  background-color: #0D5FF9 !important;
}

/* end authentication */
.service_item svg path {
  fill: #0D5FF9;
}

.advantages__ .advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F5F5F5;
  padding: 80px 30px 50px;
  text-align: center;
  position: relative;
  transition: 0.5s;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.advantages__ .advantages__item .icon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  background: #E5F8F8;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 25px;
  display: inline-block;
  transition: 0.5s;
  padding: 14px;
}
.advantages__ .advantages__item .number_ {
  background: #324891;
  color: #fff;
  border-radius: 0 0 7px 7px;
  padding: 0 8px;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 31px;
  line-height: 33px;
}
.advantages__ .advantages__item:hover {
  border-radius: 0 25px 0 0;
  border: 1px solid #0D5FF9;
}
.advantages__ .advantages__item:hover .icon {
  background-color: #0D5FF9;
}
.advantages__ .advantages__item:hover .icon svg, .advantages__ .advantages__item:hover .icon circle, .advantages__ .advantages__item:hover .icon path {
  fill: #fff;
  color: #fff;
}

.blogs__ .blog-item {
  border: 2px solid #F5F5F5;
}

.contact {
  margin: 50px 0 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  position: relative;
}
.contact:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.contact .contact_right {
  z-index: 99999;
  padding: 120px 0 0;
  position: relative;
}
.contact .contact_right h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 600px;
  margin-bottom: 35px;
}
.contact .contact_right h2 span {
  color: #231F20;
  font-weight: 800;
}
.contact .contact_right h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.contact .contact_right p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #a7a7a7;
  padding: 10px;
  border-radius: 50%;
  padding: 10px 12px 12px 10px;
  text-align: center;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact .contact__form {
  z-index: 999999999;
  position: relative;
  background-color: #fff;
  top: 54px;
  width: 390px;
}
@media (max-width: 580px) {
  .contact .contact__form {
    width: 100%;
  }
}
.contact .contact__form .contact_header {
  background-color: #EAB221;
  padding: 8px 15px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__form .contact_header h4 {
  color: #fff;
  margin-top: 52px;
  font-size: 20px;
}
.contact .contact__form .contact_header .custom-shape-divider-top-1710088665 svg {
  height: 39px;
}
.contact .contact__form form {
  padding: 25px 15px;
}
.contact .contact__form form input {
  height: 38px;
  border-radius: 4px;
}
.contact .contact__form form .btn_form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}
.contact .contact__form form .btn_form button {
  background-color: transparent;
  color: #0D5FF9;
  border: 1px solid #636363;
  padding: 10px 25px;
  transition: 0.3s all ease-in-out;
  border-radius: 6px;
}
.contact .contact__form form .btn_form button:hover {
  background-color: #231F20;
  color: #fff;
  border-color: #231F20;
}
@media (max-width: 991px) {
  .contact {
    padding: 20px 0;
    height: 100%;
  }
  .contact .custom-shape-divider, .contact .custom-shape-divider-two {
    display: none !important;
  }
  .contact .contact_right {
    padding: 50px 0 0;
  }
  .contact .contact_right h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contact .contact_right h2 span {
    color: #231F20;
    font-weight: 800;
  }
  .contact .contact_right h3 {
    font-size: 16px;
  }
  .contact .contact_right p {
    font-size: 15px;
  }
  .contact .contact__form {
    top: 0px;
  }
  .contact .contact_header {
    padding: 5px;
    height: auto;
  }
  .contact .contact_header h4 {
    margin-top: 0 !important;
    font-size: 16px;
  }
}

.custom-shape-divider {
  z-index: 99999;
}

.custom-shape-divider-top-1710088665 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1710088665 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1710088665 .shape-fill {
  fill: #F9FAFB;
}

.exams_capibilities__ .exam_item {
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: var(--whiteColor);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 5px 30px 0px rgba(0, 1, 17, 0.05);
}

header {
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header .header__statistics1 {
  box-shadow: 0 9px 65px rgba(255, 255, 255, 0.25);
}
@media (max-width: 767px) {
  header .header__statistics1 {
    display: none;
  }
}
header .icon {
  padding: 13px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #0D5FF9;
  border-radius: 50%;
  text-align: center;
  line-height: 47px;
  display: inline-block;
}
header .hero__img img {
  border-radius: 12px 150px 12px 0;
}

@keyframes video {
  0% {
    border-radius: 33.33% 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    border-radius: 50% 33.33%;
    transform: translate(-50%, -50%) rotate(1800deg);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
.bounce {
  animation: float 1500ms infinite ease-in-out;
}

.moveHorizontal {
  animation: moveHorizontal 3000ms infinite ease-in-out;
}

.rotate {
  animation: rotation 20s infinite linear;
}

nav {
  background-color: transparent;
  width: 100%;
  z-index: 999999;
  padding: 0 40px;
  width: 100%;
  padding: 0 40px !important;
}
nav.inside_pages {
  position: relative !important;
  background-color: #EAB221;
}
nav.show {
  background-color: #EAB221;
  position: fixed !important;
  transition: top 0.3s;
  z-index: 1000;
  top: 0;
}
nav.show .nav-link {
  color: #fff !important;
}
nav .colse_ {
  filter: invert(1);
}
nav .offcanvas-body .navbar-brand img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .offcanvas-body ul {
  gap: 8px;
}
nav .offcanvas-body ul .nav-item .nav-link {
  color: #231F20;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s ease-in-out all;
  position: relative;
}
nav .offcanvas-body ul .nav-item .nav-link::after {
  position: absolute;
  content: "";
  background-color: #EAB221;
  width: 35px;
  height: 2px;
  top: 40px;
  right: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out all;
  border-radius: 25px;
}
nav .offcanvas-body ul .nav-item .nav-link:hover {
  color: #EAB221;
}
nav .offcanvas-body ul .nav-item .nav-link.active {
  color: #EAB221;
  font-weight: 800;
}
nav .offcanvas-body ul .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  background-color: #EAB221;
  width: 40px;
  height: 3px;
  top: 40px;
  right: 10px;
  opacity: 1;
  border-radius: 25px;
}
nav .offcanvas-body .auth__navbar {
  gap: 50px;
  background-color: #0D5FF9;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
}
nav .offcanvas-body .auth__navbar svg {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .offcanvas-body .auth__navbar span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
nav .navbar-toggler {
  filter: invert(1);
  border: 0;
}
nav .navbar-toggler:active, nav .navbar-toggler:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}
nav .offcanvas.offcanvas-start-lg {
  padding-bottom: 10px !important;
  background: #EAB221;
  height: 100%;
  width: 250px;
  right: 0;
}
@media (max-width: 991px) {
  nav .offcanvas.offcanvas-start-lg .offcanvas-body, nav .offcanvas.offcanvas-start-lg .navbar__links {
    justify-content: flex-start !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 25px;
  }
}
nav .loginType__div {
  top: 50px;
  right: 0px;
  border-radius: 8px;
  padding: 15px 10px 15px 55px;
}
@media (max-width: 767px) {
  nav .loginType__div {
    pad: 10px 8px 10px 15px;
  }
}
nav .loginType__div2 {
  top: 50px;
  left: 0;
  border-radius: 8px;
  padding: 15px 10px 15px 55px;
}
@media (max-width: 767px) {
  nav .loginType__div2 {
    pad: 10px 8px 10px 15px;
  }
}

.statistics__ .statistics_Item {
  border: 2px dashed #E9EEF4;
  border-radius: 8px;
  text-align: center;
  padding: 25px;
  position: relative;
  margin-bottom: 30px;
}
.statistics__ .icon {
  width: 65px;
  height: 65px;
  line-height: 65px;
  background-color: #E5F8F8;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  left: -17px;
  padding: 13px;
}

.teamWork__ .team_item {
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.04);
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  padding-top: 35px;
  transition: 0.5s;
  margin-bottom: 30px;
}

.testimonials__ .testimonials_item {
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: var(--whiteColor);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 5px 30px 0px rgba(0, 1, 17, 0.05);
}/*# sourceMappingURL=main.css.map */