.teamWork__ {
    .team_item {
        box-shadow: 0 6px 26px rgba(0, 0, 0, .04);
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
        padding-top: 35px;
        transition: .5s;
        margin-bottom: 30px;
    }
}