.testimonials__{
    .testimonials_item{
        padding: 20px 30px;
        border-radius: 10px;
        margin-bottom: 25px;
        background-color: var(--whiteColor);
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 30px 0px rgba(0, 1, 17, 0.05);
    }
}