@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
@import '../themes/_color.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'cairo', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: $second-color;
    border-radius: 0px;
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: auto !important;
    text-transform: capitalize;
    font-family: 'cairo', sans-serif;
}

* {
    text-transform: capitalize;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked {
    background-color: $second-color;
    color: $second-color;
    border-color: $second-color;
}

.title__{
    h3{
        &::before{
            content: "";
            background-color: $primary-color;
            height: 3px;
            width: 50px;
            right: -60px;
            position: absolute;
            top: 17px;
        }
        &::after{
            content: "";
            background-color: $primary-color;
            height: 3px;
            width: 50px;
            left: -60px;
            position: absolute;
            top: 17px;
        }
    }
    span{
        color: $fourth-color;
        font-weight: 500;
        font-size: 17px;
    }
}
//////////////////////////////
.faq {
    .faq__items {
        .accordion-item {
            width: 100%;
            border: 0;
        }

        .accordion-header {
            border: 0;
            border-bottom: 0;
        }

        .accordion-button {
            background: #f5f5f5;
            border-bottom: 0;
            border: 0;
            border-radius: 6px 6px 0 0;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        .accordion-button::after {
            position: absolute;
            left: 20px;
        }

        .accordion-collapse {
            border: 0px;
            padding: 0;
            background: rgb(245, 245, 245);
        }

        .accordion-body {
            border-top: 0;
            border: 0;
        }
    }

    .collapse {
        visibility: visible !important;
    }
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

        &:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 2s;
        }

        &:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 1s;
        }

        &:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        &:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 1s;
            animation-duration: 8s;
        }

        &:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 1s;
        }

        &:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 2s;
        }

        &:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 2s;
        }

        &:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 2s;
            animation-duration: 15s;
        }

        &:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 15s;
        }

        &:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


.page_header {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;

    .breadcrumb-item+.breadcrumb-item::before {
        float: right !important;
        padding-left: 6px;
    }

    @media(max-width:991px) {

        .shape-1,
        .shape-2,
        .shape-3,
        .shape-4,
        .shape-5 {
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}


.whatsapp__icon {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 999;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
}

.video{
    position: relative;
    .video_img{
        .div_icon{
            position: absolute;
            top: 50%;
            left: 50%;
            background: transparent;
            transform: translate(-50%, -50%);
            svg{
                width: 150px;
                margin: 120px auto;
                display: block;
                cursor: pointer;
                transform-origin: 50% 50%;
                transition: 0.4s ease-in-out all;
                &:hover{
                    transform: rotate(360deg)
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .navbar {
        padding: 0 20px !important;

        .navbar-brand {
            img {
                width: 70px;
                height: 70px;
                object-fit: contain;
            }

            svg {
                fill: #000 !important;

                path {
                    fill: #000 !important;
                }
            }
        }
    }
    .student_info,.checkout__page,.teacher__details,.services__teacher ,.top_navbar,.services__,.about__us,header,.statistics__,.teamWork__,.advantages__,.reader__,.ai__,.blogs__,.testimonials__,.exams_capibilities__,.provide,.video {
        padding: 20px !important;
    }
    .top_navbar{
        display: none !important;
        flex-wrap: wrap;
        .company_info{
            align-items: flex-start !important;
            flex-wrap: wrap;
            gap: 8px !important;
        }
    }
    header{
        height: 100% !important;
        .hero__info {
            width: 100% !important;
            margin-top: 70px !important;
            h1{
                font-size: 30px;
            }
        }
        .hero__img {
            position: relative !important;
            inset: 0 !important;
            margin-top: 35px;
        }
    }
    .about__us {
        button{
            margin-bottom: 20px;
        }
    }
    .advantages__ .advantages__item {
        margin-top: 20px !important;
    }
    footer {
        padding: 20px !important;
    }

    .svg__ {
        display: none;
    }

    .shape-1,
    .shape-2,
    .shape-3,
    .shape-4,
    .shape-5 {
        img {
            opacity: 0.5;
        }
    }

    .shape-3 {
        top: 480px
    }

    .shape-1 {
        left: 10%;
    }

    .shape-4 {
        right: 20px;
        left: auto;
    }

    .shape-5 {
        top: 100px;
    }
}


.section_contact {
    padding: 0 80px 80px;

    form {
        margin-top: 40px;

        input,
        textarea {
            box-shadow: none;
            letter-spacing: 0;
            outline: none;
            line-height: 50px;
            height: 50px;
            padding: 0 20px;
            text-align: start;
            font-family: inherit;
            border-radius: 4px;
            font-weight: 400;
            border: 1px solid #e5e7f2;
            background: #f7f9fb;
            width: 100%;
            margin-bottom: 15px;
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: $primary-color;
            color: $white;
            padding: 10px 25px;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    }

    @media(max-width: 991px) {
        padding: 0 20px 20px !important;
        margin-bottom: 20px !important;

        iframe {
            margin-top: 20px !important;
            width: 100% !important;
        }
    }
}
.blog_details {
    padding: 40px;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    @media(max-width: 991px) {
        padding: 20px !important;

    }
}
.services__{
    .services_item{
        min-height: 350px;
        transition: 0.5s all ease-in-out;
        border-top-right-radius: 45px;
        &:hover{
          border:1px solid #fff;
        }
        &.service_1{
          background-color: #ff9920;
        }
        &.service_2{
          background-color: #0052cc;
        }
        &.service_3{
          background-color: #331b64;
        }
        &.service_4{
          background-color: #5EB5EF;
        }
        &.service_5{
          background-color: #28C76F;
        }
        &.service_6{
          background-color: #c72854;
        }
        &.service_7{
          background-color: #c79828;
        }
        &.service_8{
          background-color: #add8e6;
        }
        &.service_9{
          background-color: #ff562f;
        }
    }
}

.preloader {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #275EFE;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999999999;
}
/* Preloader */

.book-style {
    --color: #fff;
    --duration: 6.8s;
    width: 32px;
    height: 12px;
    position: relative;
    margin: 32px 0 0 0;
    zoom: 1.5;
  }
  .book-style .inner {
    width: 32px;
    height: 12px;
    position: relative;
    transform-origin: 2px 2px;
    transform: rotateZ(-90deg);
    -webkit-animation: book var(--duration) ease infinite;
            animation: book var(--duration) ease infinite;
  }
  .book-style .inner .left,
  .book-style .inner .right {
    width: 60px;
    height: 4px;
    top: 0;
    border-radius: 2px;
    background: var(--color);
    position: absolute;
  }
  .book-style .inner .left:before,
  .book-style .inner .right:before {
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: inherit;
    position: absolute;
    top: -10px;
    left: 6px;
  }
  .book-style .inner .left {
    right: 28px;
    transform-origin: 58px 2px;
    transform: rotateZ(90deg);
    -webkit-animation: left var(--duration) ease infinite;
            animation: left var(--duration) ease infinite;
  }
  .book-style .inner .right {
    left: 28px;
    transform-origin: 2px 2px;
    transform: rotateZ(-90deg);
    -webkit-animation: right var(--duration) ease infinite;
            animation: right var(--duration) ease infinite;
  }
  .book-style .inner .middle {
    width: 32px;
    height: 12px;
    border: 4px solid var(--color);
    border-top: 0;
    border-radius: 0 0 9px 9px;
    transform: translateY(2px);
  }
  .book-style ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 0;
  }
  .book-style ul li {
    height: 4px;
    border-radius: 2px;
    transform-origin: 100% 2px;
    width: 48px;
    right: 0;
    top: -10px;
    position: absolute;
    background: var(--color);
    transform: rotateZ(0deg) translateX(-18px);
    -webkit-animation-duration: var(--duration);
            animation-duration: var(--duration);
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .book-style ul li:nth-child(0) {
    -webkit-animation-name: page-0;
            animation-name: page-0;
  }
  .book-style ul li:nth-child(1) {
    -webkit-animation-name: page-1;
            animation-name: page-1;
  }
  .book-style ul li:nth-child(2) {
    -webkit-animation-name: page-2;
            animation-name: page-2;
  }
  .book-style ul li:nth-child(3) {
    -webkit-animation-name: page-3;
            animation-name: page-3;
  }
  .book-style ul li:nth-child(4) {
    -webkit-animation-name: page-4;
            animation-name: page-4;
  }
  .book-style ul li:nth-child(5) {
    -webkit-animation-name: page-5;
            animation-name: page-5;
  }
  .book-style ul li:nth-child(6) {
    -webkit-animation-name: page-6;
            animation-name: page-6;
  }
  .book-style ul li:nth-child(7) {
    -webkit-animation-name: page-7;
            animation-name: page-7;
  }
  .book-style ul li:nth-child(8) {
    -webkit-animation-name: page-8;
            animation-name: page-8;
  }
  .book-style ul li:nth-child(9) {
    -webkit-animation-name: page-9;
            animation-name: page-9;
  }
  .book-style ul li:nth-child(10) {
    -webkit-animation-name: page-10;
            animation-name: page-10;
  }
  .book-style ul li:nth-child(11) {
    -webkit-animation-name: page-11;
            animation-name: page-11;
  }
  .book-style ul li:nth-child(12) {
    -webkit-animation-name: page-12;
            animation-name: page-12;
  }
  .book-style ul li:nth-child(13) {
    -webkit-animation-name: page-13;
            animation-name: page-13;
  }
  .book-style ul li:nth-child(14) {
    -webkit-animation-name: page-14;
            animation-name: page-14;
  }
  .book-style ul li:nth-child(15) {
    -webkit-animation-name: page-15;
            animation-name: page-15;
  }
  .book-style ul li:nth-child(16) {
    -webkit-animation-name: page-16;
            animation-name: page-16;
  }
  .book-style ul li:nth-child(17) {
    -webkit-animation-name: page-17;
            animation-name: page-17;
  }
  .book-style ul li:nth-child(18) {
    -webkit-animation-name: page-18;
            animation-name: page-18;
  }
  
  @-webkit-keyframes page-0 {
    4% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    13%, 54% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    63% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  
  @keyframes page-0 {
    4% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    13%, 54% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    63% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-1 {
    5.86% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    14.74%, 55.86% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    64.74% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-1 {
    5.86% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    14.74%, 55.86% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    64.74% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-2 {
    7.72% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    16.48%, 57.72% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    66.48% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-2 {
    7.72% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    16.48%, 57.72% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    66.48% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-3 {
    9.58% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    18.22%, 59.58% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    68.22% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-3 {
    9.58% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    18.22%, 59.58% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    68.22% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-4 {
    11.44% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    19.96%, 61.44% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    69.96% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-4 {
    11.44% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    19.96%, 61.44% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    69.96% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-5 {
    13.3% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    21.7%, 63.3% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    71.7% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-5 {
    13.3% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    21.7%, 63.3% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    71.7% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-6 {
    15.16% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    23.44%, 65.16% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    73.44% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-6 {
    15.16% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    23.44%, 65.16% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    73.44% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-7 {
    17.02% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    25.18%, 67.02% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    75.18% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-7 {
    17.02% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    25.18%, 67.02% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    75.18% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-8 {
    18.88% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    26.92%, 68.88% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    76.92% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-8 {
    18.88% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    26.92%, 68.88% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    76.92% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-9 {
    20.74% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    28.66%, 70.74% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    78.66% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-9 {
    20.74% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    28.66%, 70.74% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    78.66% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-10 {
    22.6% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    30.4%, 72.6% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    80.4% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-10 {
    22.6% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    30.4%, 72.6% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    80.4% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-11 {
    24.46% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    32.14%, 74.46% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    82.14% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-11 {
    24.46% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    32.14%, 74.46% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    82.14% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-12 {
    26.32% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    33.88%, 76.32% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    83.88% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-12 {
    26.32% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    33.88%, 76.32% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    83.88% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-13 {
    28.18% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    35.62%, 78.18% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    85.62% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-13 {
    28.18% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    35.62%, 78.18% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    85.62% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-14 {
    30.04% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    37.36%, 80.04% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    87.36% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-14 {
    30.04% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    37.36%, 80.04% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    87.36% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-15 {
    31.9% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    39.1%, 81.9% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    89.1% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-15 {
    31.9% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    39.1%, 81.9% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    89.1% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-16 {
    33.76% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    40.84%, 83.76% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    90.84% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-16 {
    33.76% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    40.84%, 83.76% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    90.84% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-17 {
    35.62% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    42.58%, 85.62% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    92.58% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-17 {
    35.62% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    42.58%, 85.62% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    92.58% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes page-18 {
    37.48% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    44.32%, 87.48% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    94.32% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @keyframes page-18 {
    37.48% {
      transform: rotateZ(0deg) translateX(-18px);
    }
    44.32%, 87.48% {
      transform: rotateZ(180deg) translateX(-18px);
    }
    94.32% {
      transform: rotateZ(0deg) translateX(-18px);
    }
  }
  @-webkit-keyframes left {
    4% {
      transform: rotateZ(90deg);
    }
    10%, 40% {
      transform: rotateZ(0deg);
    }
    46%, 54% {
      transform: rotateZ(90deg);
    }
    60%, 90% {
      transform: rotateZ(0deg);
    }
    96% {
      transform: rotateZ(90deg);
    }
  }
  @keyframes left {
    4% {
      transform: rotateZ(90deg);
    }
    10%, 40% {
      transform: rotateZ(0deg);
    }
    46%, 54% {
      transform: rotateZ(90deg);
    }
    60%, 90% {
      transform: rotateZ(0deg);
    }
    96% {
      transform: rotateZ(90deg);
    }
  }
  @-webkit-keyframes right {
    4% {
      transform: rotateZ(-90deg);
    }
    10%, 40% {
      transform: rotateZ(0deg);
    }
    46%, 54% {
      transform: rotateZ(-90deg);
    }
    60%, 90% {
      transform: rotateZ(0deg);
    }
    96% {
      transform: rotateZ(-90deg);
    }
  }
  @keyframes right {
    4% {
      transform: rotateZ(-90deg);
    }
    10%, 40% {
      transform: rotateZ(0deg);
    }
    46%, 54% {
      transform: rotateZ(-90deg);
    }
    60%, 90% {
      transform: rotateZ(0deg);
    }
    96% {
      transform: rotateZ(-90deg);
    }
  }
  @-webkit-keyframes book {
    4% {
      transform: rotateZ(-90deg);
    }
    10%, 40% {
      transform: rotateZ(0deg);
      transform-origin: 2px 2px;
    }
    40.01%, 59.99% {
      transform-origin: 30px 2px;
    }
    46%, 54% {
      transform: rotateZ(90deg);
    }
    60%, 90% {
      transform: rotateZ(0deg);
      transform-origin: 2px 2px;
    }
    96% {
      transform: rotateZ(-90deg);
    }
  }
  @keyframes book {
    4% {
      transform: rotateZ(-90deg);
    }
    10%, 40% {
      transform: rotateZ(0deg);
      transform-origin: 2px 2px;
    }
    40.01%, 59.99% {
      transform-origin: 30px 2px;
    }
    46%, 54% {
      transform: rotateZ(90deg);
    }
    60%, 90% {
      transform: rotateZ(0deg);
      transform-origin: 2px 2px;
    }
    96% {
      transform: rotateZ(-90deg);
    }
  }

  .you_will_get {
    height: 850px;
    background: linear-gradient(148deg, rgba(2, 0, 36, 0.7848273098) 0%, #EAB221 100%);
    margin-top: 50px;
    padding: 100px 40px;

    .title {
        z-index: 999;
        position: relative;
        color: $second-color;
    }

    .get__items {
        margin-top: 60px;

        .get__item {
            z-index: 999;
            position: relative;
            margin-bottom: 70px;

            .icon_box {
                width: 80px;
                height: 80px;
                border-radius: 6px;
                border-width: 3px !important;
                transform: rotate(45deg);

                svg {
                    transform: rotate(-45deg);
                }
            }

            span {
                width: 350px;
            }

            &:after {
                content: "";
                position: absolute;
                // background-image: url("../../images/arrow.svg");
                left: -85px;
                top: 19px;
                width: 170px;
                height: 40px;
                background-repeat: no-repeat;
                transform: rotate(180deg);
                z-index: 9999999;
            }

            &.get__item_3,
            &.get__item_6 {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}


/* start authentication */
.authentication {
  padding: 50px 0 0 0;
  background: linear-gradient(148deg, rgba(2, 0, 36, 0.7848273098) 0%, #eab121bb 100%);
  height: 100vh;
}
.authentication_div {
  margin-top: 150px;
  background-color: #fff4eb;
  padding: 15px;
  width: 660px;
  margin: auto;
  z-index: 99999;
  position: relative;
  @media(max-width: 991px){
    width: 100%;
  }
}
.form_auth {
  background-color: #fff;
  padding: 30px 35px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form_auth .input-group,
.form_auth input {
  // height: 45px;
}
.form_auth form span {
  background-color: transparent;
  border-left: 0;
  border-radius: 0 4px 4px 0 !important;
  border-color: $fourth-color;
  color: $primary-color;
  padding: 0 5px;
}
.form_auth form span img {
  width: 20px;
  height: 24px;
  object-fit: contain;
}
.form_auth .phone-number span img {
  width: 25px !important;
  height: 22px !important;
  margin-right: -3px;
}
.form_auth .code-phone {
  border-left: 1px solid $fourth-color;
  border-radius: 4px 0 0 4px !important;
  color: $fourth-color;
}
.form_auth form input.form-control {
  border-right: 0;
  border-radius: 4px 0 0 4px !important;
  background-color: transparent;
  line-height: 8;
  height: 45px;
  border-color: $fourth-color;
}
.form_auth form textarea.form-control {
  border-right: 0;
  border-radius: 4px 0 0 4px !important;
  background-color: transparent;
  border-color: $fourth-color;
  height: 70px;
}
.form_auth form select {
  border-radius: 4px !important;
  background-color: transparent;
  border-color: $fourth-color;
  height: 45px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}
.form_auth form .form-control:focus,
.form_auth form select:focus {
  box-shadow: none;
  border-color: $fourth-color;
  background-color: transparent;
}
.form_auth form label {
  right: 23px;
  top: 3px;
  left: initial;
  font-size: 13px;
  font-weight: 500;
  z-index: 9;
  color: $third-color;
}
.form_auth form .textarea span,
.form_auth form .textarea,
.form_auth form .textarea textarea {
  height: 70px !important;
}
.form_auth .eye-show {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 99;
}
.form_auth .eye-show svg {
  color: $primary-color;
}
.forget_password {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 25px;
}
.forget_password button {
  color: $primary-color;
  font-weight: bold;
  border: 0;
  box-shadow: 0;
  background-color: transparent;
}
.form_auth button.submit_form {
  background-color: $primary-color;
  border-radius: 4px;
  padding: 15px 10px;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: 0;
  box-shadow: 0;
}
.form_auth .have_account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.form_auth .have_account p a {
  color: $primary-color;
}
.form_auth .check_privacy {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 25px;
}
.form_auth .check_privacy label {
  margin-right: 20px;
}
.form_auth .check_privacy label a {
  color: $primary-color;
}
.form_auth .check_privacy .form-check-input {
  border-right: 1px solid #ccc;
  background-color: transparent;
  height: 20px !important;
  border-radius: 4px;
  float: right;
}
.form_auth .check_privacy input[type="checkbox"]:checked {
  background-color: $primary-color !important;
}
/* end authentication */
.service_item{
  svg{
    path{
      fill: $primary-color
    }
  }
}