@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
@import '../themes/_color.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'cairo', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: $second-color;
    border-radius: 0px;
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: auto !important;
    text-transform: capitalize;
    font-family: 'cairo', sans-serif;
}

* {
    text-transform: capitalize;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked {
    background-color: $second-color;
    color: $second-color;
    border-color: $second-color;
}

.title__{
    h3{
        &::before{
            content: "";
            background-color: $primary-color;
            height: 3px;
            width: 50px;
            right: -60px;
            position: absolute;
            top: 17px;
        }
        &::after{
            content: "";
            background-color: $primary-color;
            height: 3px;
            width: 50px;
            left: -60px;
            position: absolute;
            top: 17px;
        }
    }
    span{
        color: $fourth-color;
        font-weight: 500;
        font-size: 17px;
    }
}
//////////////////////////////
.faq {
    .faq__items {
        .accordion-item {
            width: 100%;
            border: 0;
        }

        .accordion-header {
            border: 0;
            border-bottom: 0;
        }

        .accordion-button {
            background: #f5f5f5;
            border-bottom: 0;
            border: 0;
            border-radius: 6px 6px 0 0;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        .accordion-button::after {
            position: absolute;
            left: 20px;
        }

        .accordion-collapse {
            border: 0px;
            padding: 0;
            background: rgb(245, 245, 245);
        }

        .accordion-body {
            border-top: 0;
            border: 0;
        }
    }

    .collapse {
        visibility: visible !important;
    }
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

        &:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 2s;
        }

        &:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 1s;
        }

        &:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        &:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 1s;
            animation-duration: 8s;
        }

        &:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 1s;
        }

        &:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 2s;
        }

        &:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 2s;
        }

        &:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 2s;
            animation-duration: 15s;
        }

        &:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 15s;
        }

        &:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


.page_header {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;

    .breadcrumb-item+.breadcrumb-item::before {
        float: right !important;
        padding-left: 6px;
    }

    @media(max-width:991px) {

        .shape-1,
        .shape-2,
        .shape-3,
        .shape-4,
        .shape-5 {
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}


.whatsapp__icon {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 999;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
}

.video{
    position: relative;
    .video_img{
        .div_icon{
            position: absolute;
            top: 50%;
            left: 50%;
            background: transparent;
            transform: translate(-50%, -50%);
            svg{
                width: 150px;
                margin: 120px auto;
                display: block;
                cursor: pointer;
                transform-origin: 50% 50%;
                transition: 0.4s ease-in-out all;
                &:hover{
                    transform: rotate(360deg)
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .navbar {
        padding: 0 20px !important;

        .navbar-brand {
            img {
                width: 70px;
                height: 70px;
                object-fit: contain;
            }

            svg {
                fill: #000 !important;

                path {
                    fill: #000 !important;
                }
            }
        }
    }
    .top_navbar,.about__us,header,.statistics__,.teamWork__,.advantages__,.reader__,.ai__,.blogs__,.testimonials__,.exams_capibilities__,.provide,.video {
        padding: 20px !important;
    }
    .top_navbar{
        display: none !important;
        flex-wrap: wrap;
        .company_info{
            align-items: flex-start !important;
            flex-wrap: wrap;
            gap: 8px !important;
        }
    }
    header{
        height: 100% !important;
        .hero__info {
            width: 100% !important;
            margin-top: 70px !important;
            h1{
                font-size: 30px;
            }
        }
        .hero__img {
            position: relative !important;
            inset: 0 !important;
            margin-top: 35px;
        }
    }
    .about__us {
        button{
            margin-bottom: 20px;
        }
    }
    .advantages__ .advantages__item {
        margin-top: 20px !important;
    }
    footer {
        padding: 20px !important;
    }

    .svg__ {
        display: none;
    }

    .shape-1,
    .shape-2,
    .shape-3,
    .shape-4,
    .shape-5 {
        img {
            opacity: 0.5;
        }
    }

    .shape-3 {
        top: 480px
    }

    .shape-1 {
        left: 10%;
    }

    .shape-4 {
        right: 20px;
        left: auto;
    }

    .shape-5 {
        top: 100px;
    }
}


.section_contact {
    padding: 0 80px 80px;

    form {
        margin-top: 40px;

        input,
        textarea {
            box-shadow: none;
            letter-spacing: 0;
            outline: none;
            line-height: 50px;
            height: 50px;
            padding: 0 20px;
            text-align: start;
            font-family: inherit;
            border-radius: 4px;
            font-weight: 400;
            border: 1px solid #e5e7f2;
            background: #f7f9fb;
            width: 100%;
            margin-bottom: 15px;
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: $primary-color;
            color: $white;
            padding: 10px 25px;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    }

    @media(max-width: 991px) {
        padding: 0 20px 20px !important;
        margin-bottom: 20px !important;

        iframe {
            margin-top: 20px !important;
            width: 100% !important;
        }
    }
}
.blog_details {
    padding: 40px;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    @media(max-width: 991px) {
        padding: 20px !important;

    }
}